header {
  background: #fece02;
  display: flex;
  padding: 19px 27px 17px 26px;
}
header input {
  margin: auto;
  width: 430px;
  height: 68px;
  border: none;
  border-radius: 34px;
  text-align: center;
  font-size: 30px;
  background: #fee579;
}
header input::-webkit-input-placeholder {
  color: #fff5c9;
}
header a {
  margin: auto;
}

/* header end */
.main {
  background: #fff;
  display: flex;
}
.main .main-left {
  width: 180px;
  text-align: center;
}
.main .main-left h1 {
  font-size: 30px;
  color: #fea31e;
  font-family: SON;
  line-height: 88px;
}
.main .main-left ul li {
  padding-left: 27px;
  padding-right: 33px;
  font-size: 30px;
  color: #3c3c3c;
  border-top: 3px solid #d4d4d4;
  line-height: 91px;
  background: #f8f8f8;
}
.main .main-right {
  width: 570px;
}
.main .main-right h2 {
  line-height: 47px;
  padding-left: 10px;
  background: #f8f8f8;
  font-size: 30px;
  color: #565656;
}
.main .main-right ul li {
  display: flex;
  padding: 17px 31px 20px 0px;
  margin-left: 26px;
  border-bottom: 1px solid #a1a1a1;
}
.main .main-right ul li .main-rg-text {
  padding-left: 34px;
}
.main .main-right ul li h6 {
  font-size: 28px;
  color: #404040;
  font-weight: normal;
  padding-bottom: 15px;
}
.main .main-right ul li h6 span {
  margin-right: 8px;
  padding: 3px;
  font-size: 23px;
  color: #ff4100;
  border: 2px solid #ff4100;
  border-radius: 10px;
}
.main .main-right ul li .text-col {
  display: flex;
}
.main .main-right ul li .text-col .text-col-mon {
  margin-right: auto;
}
.main .main-right ul li .text-col .text-col-mon p {
  margin-top: 7px;
}
.main .main-right ul li .text-col .text-col-mon p:first-child {
  font-size: 22px;
  color: #fff;
  background: #f85252;
  line-height: 42px;
  display: inline-block;
  padding: 0 8px;
  border-radius: 11px;
}
.main .main-right ul li .text-col .text-col-mon p:nth-child(2) {
  font-size: 30px;
  color: #929091;
}
.main .main-right ul li .text-col .text-col-mon p:last-child {
  font-size: 36px;
  color: #ff4100;
}
.main .main-right ul li .text-col .text-col-plus {
  margin-top: auto;
}
.main .main-right ul li .text-col .text-col-plus a {
  font-size: 55px;
  color: #ff4400;
  font-weight: bold;
  width: 64px;
  height: 64px;
  border: 3px solid #e3e3e3;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 57px;
}

/* main end */
footer {
  display: flex;
  background: #fcfcfc;
  padding: 12px 31px 14px 23px;
  border-top: 2px solid #c3c3c3;
}
footer a {
  font-size: 24px;
  color: #949494;
  margin: auto;
  padding-top: 61px;
}
footer a:hover {
  color: #fea31e;
}
footer a:first-child {
  background: url(../images/page-gray.png) no-repeat 50% 0;
}
footer a:first-child:hover {
  background: url(../images/page-org.png) no-repeat 50% 0;
}
footer a:nth-child(2) {
  background: url(../images/give-gray.png) no-repeat 50% 0;
}
footer a:nth-child(2):hover {
  background: url(../images/give-org.png) no-repeat 50% 0;
}
footer a:nth-child(3) {
  background: url(../images/top-gray.png) no-repeat 50% 0;
}
footer a:nth-child(3):hover {
  background: url(../images/top-org.png) no-repeat 50% 0;
}
footer a:last-child {
  background: url(../images/car-gray.png) no-repeat 50% 0;
}
footer a:last-child:hover {
  background: url(../images/car-org.png) no-repeat 50% 0;
}

/*# sourceMappingURL=super.css.map */
