

.welcome{
	background: #f6f6f6;
	text-align:center;
	padding: 64px 0 51px;
	color:#000;
}

.welcome .lcome-title h4{
	font-size: 24px;
	margin-bottom:10px;
}

.Welcome .lcome-title p{
	font-family: YHS;
	text-transform:uppercase;
}

.welcome .lcome-content > ul{
	display: flex;
}

.welcome .lcome-content > ul li{
	margin:64px auto 0;
}

.welcome .lcome-content > ul li a{
	color:#000;
	width: 198px;
	height: 198px;
	border:1px solid #068bd0;
	border-radius:50%;
	display:flex;
}

.welcome .lcome-content > ul li a:hover{
	background: #444444;
	color:#d0d0d0;
	border:none;
}

.welcome .lcome-content > ul li a div{
	margin:auto;
}

.welcome .lcome-content h6{
	font-size:14px;
	margin:7px 0 6px;
}

.welcome .lcome-content p{
	font-size:10px;
}

@media screen and (max-width: 630px){
	.welcome .lcome-content > ul{
		display: block;
	}

	.welcome .lcome-content > ul li a{
		margin:0 auto;
	}
}

/*welcome end*/

.about{
	background: #eaeaea;
	padding: 52px 0 69px;
}

.about .about-title h6{
	color:#030600;
}

.about .about-title h6:before,
.about .about-title h6:after{
	background: #9ccbe5;
}

.about .about-title p{
	color:#9d9c9c;
}

.about .about-content{
	margin-top:68px;
	display: flex;
}

.about-content .about-written{
	margin-left:42px;
}

.about-content .about-video{
	text-align:center;
}

.about-content .about-written p{
	font-size: 14px;
	color:#000;
	line-height: 30px;
	text-indent: 2em;
	margin-bottom: 70px;
}

.about-content .about-written a{
	font-size: 16px;
	color:#b5b5b5;
}

.about-content .about-written a span{
	display: inline-block;
	font-size: 16px;
	width: 16px;
	height: 16px;
	background: #b5b5b5;
	color:#e9e9e9;
	border-radius:50%;
	text-align: center;
	line-height: 16px;
	margin-left: 5px;
}

@media screen and (max-width:992px){
	.about .about-content{
		display: block;
	}

	.about-content .about-written{
		margin:50px 10px 0 10px;
	}
}

@media screen and (max-width: 430px){
	.about .about-content video{
		width: 100%;
	}
}

/*about endx*/

.news{
	background: url(../images/news-back.png) no-repeat; 
	background-size: cover;
	padding:70px 0;
}

.news .news-title h6.line:before,
.news .news-title h6.line:after{
	background: #a39f9f;
}

.news .news-but a{
	width: 29px;
	height: 33px;
	display: inline-block;
	border:2px solid #dcdbda;
	text-align: center;
	line-height:33px;
	left:90%;
	position: relative;
}

.news .news-but a:hover{
	background: #020202;
	border:2px solid #020202;
}

.news .news-but a:first-child span{
	display: inline-block;
	border-top:7px solid rgba(0,0,0,0);
	border-bottom:7px solid rgba(0,0,0,0);
	border-right:12px solid #dcdbda;
}

.news .news-but a:last-child span{
	display: inline-block;
	border-top:7px solid rgba(0,0,0,0);
	border-bottom:7px solid rgba(0,0,0,0);
	border-left:12px solid #dcdbda;
}

.news .news-title h6{
	color:#f6f6f6;
}

.news .news-title p{
	color:#cfcfcf;
}

.news .news-dynamic {
	margin-top:45px;
}

.news .news-dynamic ul{
	display: flex;
	justify-content:center;
}

.news .news-dynamic ul li{
	text-align:center;
	margin:auto;
	position: relative;
}

.news .news-dynamic img{
	width: 100%;
}

.news .news-dynamic ul li .li-location{
	position:absolute;
	bottom:25px;
	left:50%;
	margin-left:-85px;
	background: #060605;
	padding: 5px;
}

.news .news-dynamic h6,
.news .news-dynamic p{
	font-size:13px;
	color:#fff;
	line-height:22px;
}

.news .news-dynamic p{
	margin-top:20px;
}


@media screen and (max-width: 770px){
	.news .news-but a{
		left: 80%;
	}

	.news .news-but{
		margin-right: 20px;
	}
}

@media screen and (max-width: 992px){
	.news .news-dynamic ul li{
		margin-left:5px;
		margin-right:5px;
	}
}

/*news end*/

.certificate{
	background:#f6f6f6;
	padding:100px 0 111px 0 ;
}

.certificate .cate-content{
	margin-top:49px;
}

.certificate .cate-content ul{
	display: flex;
}

.certificate .cate-content ul li{
	margin:auto;
}

.certificate .cate-content ul a{
	display: inline-block;
	padding:30px 25px;
	background: url(../images/cate-back.png) no-repeat;
	background-size:100%;
}

.certificate .cate-content ul a p{
	font-size:12px;
	margin-top:20px;
	line-height:35px;
	color:#000;
	text-align:center;
}

.certificate div.bottom a{
	border-color:#a1a1a1;
	color: #010101;
}

@media screen and (max-width: 992px){
	.certificate .cate-content ul li{
		margin-left: 10px;
		margin-right:10px;
	}

	.certificate .cate-content ul li img{
		width: 100%;
	}

	.certificate .cate-content ul a p{
		line-height:20px;
	}
}

/*.certificate end*/

.situation{
	background:url(../images/situation-back.png) no-repeat;
	background-size: cover;
}

.situation .situa-title h6,
.situation .situa-title p{
	color:#9d9c9c;
}

.situation .situa-title h6.line:before,
.situation .situa-title h6.line:after{
	background: #a6a3a0;
}

.situation .situa-content{
	text-align:center;
	margin:29px 0 26px;
}

.situation .situa-content a{
	font-size:14px;
	color:#9d9c9c;
	line-height:22px;
}

.situation .situa-content ul{
	display: flex;
}

.situation .situa-content ul li{
	margin:auto;
}

.situation div.bottom a{
	color:#f6f6f6;
	border-color:#73706f;
}

/*situation end*/

.friendship{
	background: #f6f6f6;
    padding: 100px 0 54px 0;
}

.friendship .friend-content{
	margin-top:54px;
	text-align: center;
}

.friendship .friend-content ul{
	column-count:6;
	margin:auto;
}

.friendship .friend-content ul li a{
	height: 100px;
	line-height:100px;
}

@media screen and (max-width: 860px){
	/*friendship*/
	.friendship .friend-content ul{
		column-count:3;
	}

	.friendship .friend-content ul li{
		margin:40px;
	}
}

/*friendship end*/






/*760px 兼容处理*/
@media screen and (max-width: 760px){
	/*news*/
	.news .news-dynamic ul{
		display: block
	}

	.news .news-dynamic ul li{
		margin-top:50px;
	}

	.news .news-dynamic img{
		width: 60%;
	}

	/*certificate*/
	.certificate .cate-content ul{
		display: block;
	}

	.certificate .cate-content ul li{
		display: flex;
	}

	.certificate .cate-content ul li a{
		margin:auto;
		margin-top:30px;
		
	}

	.certificate .cate-content ul li a p{
		line-height: 35px;
	}

	/*situation*/
	.situation .situa-content ul{
		display: block
	}

	.situation .situa-content ul li{
		display: flex;
		margin-top:40px;
	}

	.situation .situa-content ul li a{
		margin:auto;
	}

	/*friendship*/
	.friendship .friend-content ul{
		column-count:3;
	}

	.friendship .friend-content ul li{
		margin:20px;
	}

	.friendship .friend-content ul li img{
		width: 60%;
	}
}
















/*公共样式*/
/*litile*/
h6.line{
	font-size: 18px;
	text-align: center;
	margin-bottom:6px;
}

h6.line:before,
h6.line:after{
	content:"";
	display: inline-block;
	width: 114px;
	height: 2px;
	background: #9ccbe5;
}

h6.line:before{
	margin-right:22px;
}

h6.line:after{
	margin-left:22px;
}

p.equal{
	font-size: 12px;
	text-align: center;
}

/*a*/

div.bottom{
	text-align: center;
	margin-top:58px;
}

div.bottom a{
	padding: 10px 33px 12px;
	border:1px solid #5a5754;
	font-size:16px;
	color: #f6f6f6;
}
